# Visual Data Analysis of Fraudulent Transactions

Your CFO has also requested detailed trends data on specific card holders. Use the starter notebook to query your database and generate visualizations that supply the requested information as follows, then add your visualizations and observations to your markdown report.

In [19]:
# Initial imports
import pandas as pd
import calendar
import hvplot.pandas
from sqlalchemy import create_engine
%matplotlib inline

In [20]:
def postgres_connect_str(   
    uname    = 'Foley',
    pass_env = 'POSTGRES_PASSWORD',
    host     = 'pg-2e8191e-instructors-1f45.aivencloud.com',
    database = 'foley',
    port     = 18645,
):
    from dotenv import load_dotenv
    import os

    load_dotenv()
    password = os.getenv(pass_env)
    return f"postgresql://{uname}:{password}@{host}:{port}/{database}?sslmode=require"

In [21]:
# Create a connection to the database
#engine = create_engine("postgresql://postgres:postgres@localhost:5432/fraud_detection")
engine = create_engine(postgres_connect_str())

## Data Analysis Question 1

The two most important customers of the firm may have been hacked. Verify if there are any fraudulent transactions in their history. For privacy reasons, you only know that their cardholder IDs are 2 and 18.

* Using hvPlot, create a line plot representing the time series of transactions over the course of the year for each cardholder separately. 

* Next, to better compare their patterns, create a single line plot that containins both card holders' trend data.  

* What difference do you observe between the consumption patterns? Does the difference suggest a fraudulent transaction? Explain your rationale in the markdown report.

In [22]:
# loading data for card holder 2 and 18 from the database
# Write the query
query = f'''SELECT card_holder_id, date_trunc('day',tranaction_date), COUNT (*) FROM "Transactions" t
        INNER JOIN "Credit_Card" c
        ON t."card_number" = c."card_number"
        WHERE card_holder_id = 2 or card_holder_id = 18
        GROUP BY date_trunc('day',tranaction_date), card_holder_id
        ORDER BY date_trunc('day',tranaction_date)

'''

# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
df1 = pd.read_sql(query, engine)
df1

     card_holder_id date_trunc  count
0                18 2018-01-01      1
1                18 2018-01-05      1
2                 2 2018-01-06      2
3                 2 2018-01-07      1
4                18 2018-01-07      1
..              ...        ...    ...
194              18 2018-12-23      1
195              18 2018-12-27      1
196               2 2018-12-28      1
197              18 2018-12-28      2
198              18 2018-12-29      1

[199 rows x 3 columns]

In [23]:
# Plot for cardholder 2
plot1 = df1[df1["card_holder_id"]==2] [["count", "date_trunc"]].hvplot()
plot1

:Curve   [index]   (count)

In [24]:
# Plot for cardholder 18
plot2 = df1[df1["card_holder_id"]==18] [["count", "date_trunc"]].hvplot()
plot2

:Curve   [index]   (count)

In [25]:
# Combined plot for card holders 2 and 18
#df1[df1["card_holder_id"]==2] [["count", "date_trunc"]].hvplot() * df1[df1["card_holder_id"]==18] [["count", "date_trunc"]].hvplot()

plot1 * plot2

:Overlay
   .Curve.I  :Curve   [index]   (count)
   .Curve.II :Curve   [index]   (count)

## Data Analysis Question 2

The CEO of the biggest customer of the firm suspects that someone has used her corporate credit card without authorization in the first quarter of 2018 to pay quite expensive restaurant bills. Again, for privacy reasons, you know only that the cardholder ID in question is 25.

* Using Plotly Express, create a box plot, representing the expenditure data from January 2018 to June 2018 for cardholder ID 25.

* Are there any outliers for cardholder ID 25? How many outliers are there per month?

* Do you notice any anomalies? Describe your observations and conclusions in your markdown report.

In [26]:
query3 = '''SELECT tranaction_date as "date", transaction_amount FROM "Transactions" t
        INNER JOIN "Credit_Card" c
        ON t."card_number" = c."card_number"
        WHERE card_holder_id = 25 AND tranaction_date BETWEEN '01/01/2018' AND '06/01/2018'
'''
df4 = pd.read_sql(query3, engine)
df4.index = pd.to_datetime(df4["date"])
df4["date"] =pd.to_datetime(df4["date"])
df4.index = pd.to_datetime(df4.index.date)
#df4.drop(columns="date", inplace=True)

In [27]:
std2 = df4["transaction_amount"].mean() + df4["transaction_amount"].std() * 2

df4["Month"] = df4["date"].apply(lambda x: calendar.month_name[x.month])
df4["Day"] = df4["date"].apply(lambda x: x.day) 
df4["Outlier"] = df4["transaction_amount"].apply(lambda x: 0 if std2 > x else 1)
df4.head(-5)

                          date  transaction_amount     Month  Day  Outlier
2018-01-02 2018-01-02 02:06:21                1.46   January    2        0
2018-01-05 2018-01-05 06:26:45               10.74   January    5        0
2018-01-07 2018-01-07 14:57:23                2.93   January    7        0
2018-01-10 2018-01-10 00:25:40                1.39   January   10        0
2018-01-14 2018-01-14 05:02:22               17.84   January   14        0
2018-01-16 2018-01-16 02:26:16                1.65   January   16        0
2018-01-18 2018-01-18 12:41:06               15.86   January   18        0
2018-01-21 2018-01-21 23:04:02                2.22   January   21        0
2018-01-30 2018-01-30 18:31:00             1177.00   January   30        1
2018-01-31 2018-01-31 05:46:43                2.75   January   31        0
2018-02-02 2018-02-02 11:31:33               10.75  February    2        0
2018-02-05 2018-02-05 21:59:07               10.81  February    5        0
2018-02-07 2018-02-07 00:20:11                5.97  February    7        0
2018-02-12 2018-02-12 03:44:20                3.69  February   12        0
2018-02-18 2018-02-18 20:43:22               16.70  February   18        0
2018-02-23 2018-02-23 10:13:27                1.26  February   23        0
2018-02-23 2018-02-23 12:26:19                2.63  February   23        0
2018-02-23 2018-02-23 18:49:22               11.01  February   23        0
2018-02-28 2018-02-28 02:06:08                0.91  February   28        0
2018-02-28 2018-02-28 13:56:12                1.18  February   28        0
2018-03-02 2018-03-02 23:23:52               12.42     March    2        0
2018-03-05 2018-03-05 07:34:15               16.58     March    5        0
2018-03-06 2018-03-06 07:18:09             1334.00     March    6        1
2018-03-07 2018-03-07 16:45:37                2.88     March    7        0
2018-03-09 2018-03-09 03:59:06                2.04     March    9        0
2018-03-11 2018-03-11 19:37:02               13.57     March   11        0
2018-03-12 2018-03-12 01:00:24               10.10     March   12        0
2018-03-12 2018-03-12 09:08:18                1.65     March   12        0
2018-03-12 2018-03-12 17:16:34                3.08     March   12        0
2018-03-16 2018-03-16 02:04:54                4.20     March   16        0
2018-03-17 2018-03-17 18:22:07                2.56     March   17        0
2018-03-18 2018-03-18 12:29:39               18.28     March   18        0
2018-03-31 2018-03-31 20:12:10               21.04     March   31        0
2018-04-01 2018-04-01 07:17:21              100.00     April    1        0
2018-04-01 2018-04-01 21:08:23                2.62     April    1        0
2018-04-02 2018-04-02 01:50:15                7.08     April    2        0
2018-04-02 2018-04-02 18:34:50               17.15     April    2        0
2018-04-08 2018-04-08 06:03:50             1063.00     April    8        1
2018-04-08 2018-04-08 18:03:55               10.15     April    8        0
2018-04-08 2018-04-08 18:14:22               10.06     April    8        0
2018-04-09 2018-04-09 18:28:25              269.00     April    9        0
2018-04-10 2018-04-10 23:03:20               10.24     April   10        0
2018-04-18 2018-04-18 10:12:40                7.39     April   18        0
2018-04-19 2018-04-19 18:30:14                6.01     April   19        0
2018-04-20 2018-04-20 17:02:27               20.03     April   20        0
2018-04-26 2018-04-26 02:16:45                2.79     April   26        0
2018-04-26 2018-04-26 19:49:31               10.02     April   26        0
2018-04-26 2018-04-26 23:09:51               15.66     April   26        0
2018-04-29 2018-04-29 02:41:44               16.50     April   29        0

In [28]:
# loading data of daily transactions from jan to jun 2018 for card holder 25
# Write the query
query3 = '''SELECT tranaction_date as "date", transaction_amount FROM "Transactions" t
        INNER JOIN "Credit_Card" c
        ON t."card_number" = c."card_number"
        WHERE card_holder_id = 25 AND tranaction_date BETWEEN '01/01/2018' AND '06/01/2018'
'''
# Create a DataFrame from the query result. HINT: Use pd.read_sql(query, engine)
df4 = pd.read_sql(query3, engine)
df4.index = pd.to_datetime(df4["date"])
df4["date"] =pd.to_datetime(df4["date"])
df4.index = pd.to_datetime(df4.index.date)
#df4.drop(columns="date", inplace=True)
df4

                          date  transaction_amount
2018-01-02 2018-01-02 02:06:21                1.46
2018-01-05 2018-01-05 06:26:45               10.74
2018-01-07 2018-01-07 14:57:23                2.93
2018-01-10 2018-01-10 00:25:40                1.39
2018-01-14 2018-01-14 05:02:22               17.84
2018-01-16 2018-01-16 02:26:16                1.65
2018-01-18 2018-01-18 12:41:06               15.86
2018-01-21 2018-01-21 23:04:02                2.22
2018-01-30 2018-01-30 18:31:00             1177.00
2018-01-31 2018-01-31 05:46:43                2.75
2018-02-02 2018-02-02 11:31:33               10.75
2018-02-05 2018-02-05 21:59:07               10.81
2018-02-07 2018-02-07 00:20:11                5.97
2018-02-12 2018-02-12 03:44:20                3.69
2018-02-18 2018-02-18 20:43:22               16.70
2018-02-23 2018-02-23 10:13:27                1.26
2018-02-23 2018-02-23 12:26:19                2.63
2018-02-23 2018-02-23 18:49:22               11.01
2018-02-28 2018-02-28 02:06:08                0.91
2018-02-28 2018-02-28 13:56:12                1.18
2018-03-02 2018-03-02 23:23:52               12.42
2018-03-05 2018-03-05 07:34:15               16.58
2018-03-06 2018-03-06 07:18:09             1334.00
2018-03-07 2018-03-07 16:45:37                2.88
2018-03-09 2018-03-09 03:59:06                2.04
2018-03-11 2018-03-11 19:37:02               13.57
2018-03-12 2018-03-12 01:00:24               10.10
2018-03-12 2018-03-12 09:08:18                1.65
2018-03-12 2018-03-12 17:16:34                3.08
2018-03-16 2018-03-16 02:04:54                4.20
2018-03-17 2018-03-17 18:22:07                2.56
2018-03-18 2018-03-18 12:29:39               18.28
2018-03-31 2018-03-31 20:12:10               21.04
2018-04-01 2018-04-01 07:17:21              100.00
2018-04-01 2018-04-01 21:08:23                2.62
2018-04-02 2018-04-02 01:50:15                7.08
2018-04-02 2018-04-02 18:34:50               17.15
2018-04-08 2018-04-08 06:03:50             1063.00
2018-04-08 2018-04-08 18:03:55               10.15
2018-04-08 2018-04-08 18:14:22               10.06
2018-04-09 2018-04-09 18:28:25              269.00
2018-04-10 2018-04-10 23:03:20               10.24
2018-04-18 2018-04-18 10:12:40                7.39
2018-04-19 2018-04-19 18:30:14                6.01
2018-04-20 2018-04-20 17:02:27               20.03
2018-04-26 2018-04-26 02:16:45                2.79
2018-04-26 2018-04-26 19:49:31               10.02
2018-04-26 2018-04-26 23:09:51               15.66
2018-04-29 2018-04-29 02:41:44               16.50
2018-05-06 2018-05-06 04:38:27                1.10
2018-05-13 2018-05-13 06:31:20             1046.00
2018-05-17 2018-05-17 21:32:51               12.15
2018-05-19 2018-05-19 09:12:20                2.27
2018-05-29 2018-05-29 14:34:36                5.97

In [29]:
std2 = df4["transaction_amount"].mean() + df4["transaction_amount"].std() * 2

df4["Month"] = df4["date"].apply(lambda x: calendar.month_name[x.month])
df4["Day"] = df4["date"].apply(lambda x: x.day) 
df4["Outlier"] = df4["transaction_amount"].apply(lambda x: 0 if std2 > x else 1)
df4.head(-5)

                          date  transaction_amount     Month  Day  Outlier
2018-01-02 2018-01-02 02:06:21                1.46   January    2        0
2018-01-05 2018-01-05 06:26:45               10.74   January    5        0
2018-01-07 2018-01-07 14:57:23                2.93   January    7        0
2018-01-10 2018-01-10 00:25:40                1.39   January   10        0
2018-01-14 2018-01-14 05:02:22               17.84   January   14        0
2018-01-16 2018-01-16 02:26:16                1.65   January   16        0
2018-01-18 2018-01-18 12:41:06               15.86   January   18        0
2018-01-21 2018-01-21 23:04:02                2.22   January   21        0
2018-01-30 2018-01-30 18:31:00             1177.00   January   30        1
2018-01-31 2018-01-31 05:46:43                2.75   January   31        0
2018-02-02 2018-02-02 11:31:33               10.75  February    2        0
2018-02-05 2018-02-05 21:59:07               10.81  February    5        0
2018-02-07 2018-02-07 00:20:11                5.97  February    7        0
2018-02-12 2018-02-12 03:44:20                3.69  February   12        0
2018-02-18 2018-02-18 20:43:22               16.70  February   18        0
2018-02-23 2018-02-23 10:13:27                1.26  February   23        0
2018-02-23 2018-02-23 12:26:19                2.63  February   23        0
2018-02-23 2018-02-23 18:49:22               11.01  February   23        0
2018-02-28 2018-02-28 02:06:08                0.91  February   28        0
2018-02-28 2018-02-28 13:56:12                1.18  February   28        0
2018-03-02 2018-03-02 23:23:52               12.42     March    2        0
2018-03-05 2018-03-05 07:34:15               16.58     March    5        0
2018-03-06 2018-03-06 07:18:09             1334.00     March    6        1
2018-03-07 2018-03-07 16:45:37                2.88     March    7        0
2018-03-09 2018-03-09 03:59:06                2.04     March    9        0
2018-03-11 2018-03-11 19:37:02               13.57     March   11        0
2018-03-12 2018-03-12 01:00:24               10.10     March   12        0
2018-03-12 2018-03-12 09:08:18                1.65     March   12        0
2018-03-12 2018-03-12 17:16:34                3.08     March   12        0
2018-03-16 2018-03-16 02:04:54                4.20     March   16        0
2018-03-17 2018-03-17 18:22:07                2.56     March   17        0
2018-03-18 2018-03-18 12:29:39               18.28     March   18        0
2018-03-31 2018-03-31 20:12:10               21.04     March   31        0
2018-04-01 2018-04-01 07:17:21              100.00     April    1        0
2018-04-01 2018-04-01 21:08:23                2.62     April    1        0
2018-04-02 2018-04-02 01:50:15                7.08     April    2        0
2018-04-02 2018-04-02 18:34:50               17.15     April    2        0
2018-04-08 2018-04-08 06:03:50             1063.00     April    8        1
2018-04-08 2018-04-08 18:03:55               10.15     April    8        0
2018-04-08 2018-04-08 18:14:22               10.06     April    8        0
2018-04-09 2018-04-09 18:28:25              269.00     April    9        0
2018-04-10 2018-04-10 23:03:20               10.24     April   10        0
2018-04-18 2018-04-18 10:12:40                7.39     April   18        0
2018-04-19 2018-04-19 18:30:14                6.01     April   19        0
2018-04-20 2018-04-20 17:02:27               20.03     April   20        0
2018-04-26 2018-04-26 02:16:45                2.79     April   26        0
2018-04-26 2018-04-26 19:49:31               10.02     April   26        0
2018-04-26 2018-04-26 23:09:51               15.66     April   26        0
2018-04-29 2018-04-29 02:41:44               16.50     April   29        0

In [30]:
outliers = df4["Outlier"].sum()
outliers

#number of outliers is 4

4

In [31]:
##Select Transaction Amount, Day, Month, and Outlier Sum

In [32]:
# DONT loop to change the numeric month to month names
#for i in range(df_question2.shape[0]):
   # df_question2.iloc[i,0] = calendar.month_name[int(df_question2.iloc[i,0])]

In [33]:
# Creating the six box plots using plotly express